{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block title %}Групи{% endblock title %}

{% block content %}

<!-- Add Group Button -->
<a class="btn btn-primary" href="{%  url 'groups_add' %}">Додати Групу</a>

<!-- Start Groups Listing -->
<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th><a href="">№</a></th>
			<th><a href="">Назва &uarr;</a></th>
			<th><a href="#">Староста</a></th>
			<th>Дії</th>
		</tr>
	</thead>
	<tbody>
		{% for group in groups %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td><a title="Редагувати" href="{% url 'groups_edit' group.id %}">{{ group.group_name }}</a></td>
			<td><a title="Редагувати" href="{% url 'groups_edit' group.id %}">{{ group.full_name }}</a></td>
			<td>
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Дія<span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="/visiting/{{ group.id }}">Відвідування</a>
						</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="{% url 'groups_edit' group.id %}">Редагувати</a>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="{% url 'groups_delete' group.id %}">Видалити</a>
						</li>
					</ul>
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<!-- End Groups Listing -->

<!-- Pagination -->
{% include "students/pagination.html" %}

{% endblock content %}