{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Студенти{% endblock meta_title %}

{% block title %}База Студентів{% endblock title %}

{% block content %}

<!-- Add Student Button -->
<a class="btn btn-primary" href="{%  url 'students_add' %}">Додати Студента</a>

<!-- Start Students Listing -->
<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th><a href="">№</a></th>
			<th>Фото</th>
			<th><a href="">Прізвище &uarr;</a></th>
			<th><a href="#">Ім'я</a></th>
			<th><a href="#">№ Білету</a></th>
			<th>Дії</th>
		</tr>
	</thead>
	<tbody>
		{% for student in students %}
		<tr>
			<td>{{ forloop.counter }}</td>
			<td><img class="img-circle" height="30" width="30" src="{% static student.image %}"></td>
			<td><a title="Редагувати" href="{% url 'students_edit' student.id %}">{{ student.last_name }}</a></td>
			<td><a title="Редагувати" href="{% url 'students_edit' student.id %}">{{ student.first_name }}</a></td>
			<td>{{ student.ticket }}</td>
			<td>
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Дія<span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="/visiting/{{ student.id }}">Відвідування</a>
						</li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="{% url 'students_edit' student.id %}">Редагувати</a>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="{% url 'students_delete' student.id %}">Видалити</a>
						</li>
					</ul>
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<!-- End Students Listing -->

<!-- Pagination -->
{% include "students/pagination.html" %}

{% endblock content %}